<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
        </div>
        <h1>Shani CF IP Scanner</h1>
        <form id="scan-form">
            <div class="form-row">
                <div class="form-item">
                    <label for="selected_ip_range">IP Range:</label>
                    <select id="selected_ip_range" name="selected_ip_range">
                        {% for ip_range in cf_ips %}
                        <option value="{{ ip_range }}">{{ ip_range }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-item">
                    <label for="test_url">Test URL:</label>
                    <input type="url" id="test_url" name="test_url" value="https://speed.cloudflare.com/__down?bytes=10485760">
                </div>
            </div>
            <div class="form-row">
                <div class="form-item small-input">
                    <label for="num_ips">Number of IPs:</label>
                    <input type="number" id="num_ips" name="num_ips" value="{{ num_ips }}" min="1">
                </div>
                <div class="form-item small-input">
                    <label for="max_ping">Max Ping (ms):</label>
                    <input type="number" id="max_ping" name="max_ping" value="{{ max_ping }}" min="1">
                </div>
            </div>
            <div class="button-container">
                <button type="button" onclick="startScan()">Start Scan</button>
                <button type="button" onclick="stopScan()">Stop Scan</button>
            </div>
            <div class="status-message" id="start-message" style="display: none;">Shani Scanner is starting...</div>
            <div class="status-message" id="complete-message" style="display: none;">Shani Scan is complete...</div>
        </form>
        <div id="log">
            <h2>Log:</h2>
            <pre id="log-content"></pre>
        </div>
        <table id="results-table">
            <thead>
                <tr>
                    <th class="ip-col">IP</th>
                    <th class="ping-col">Ping (ms)</th>
                    <th class="speed-col">Speed (MB/s)</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>


    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        var socket = io();
        var scanning = false;

        socket.on('update', function(msg) {
            if (!scanning) return;  // اگر اسکن متوقف شده باشد، هیچ داده‌ای دریافت و پردازش نمی‌شود.
            document.getElementById('log-content').innerHTML += msg + '<br>';
        });

        function startScan() {
            scanning = true;
            let form = document.getElementById('scan-form');
            let formData = new FormData(form);

            fetch('/start_scan', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (!scanning) return;

                let resultsTable = document.querySelector('#results-table tbody');
                resultsTable.innerHTML = ''; // ریست کردن جدول

                data.results.forEach(result => {
                    let row = `<tr><td>${result.ip}</td><td>${result.ping}</td><td>${result.speed}</td></tr>`;
                    resultsTable.innerHTML += row;
                });

                data.details.forEach(detail => {
                    if (detail.includes('failed') || detail.includes('rejected')) {
                        document.getElementById('log-content').innerHTML += `<span class="log-failed">${detail}</span><br>`;
                    } else {
                        document.getElementById('log-content').innerHTML += `<span class="log-ok">${detail}</span><br>`;
                    }
                });
            })
            .catch(error => console.error('Error:', error));
        }

        function stopScan() {
            scanning = false;  // اسکن را متوقف می‌کند.
            document.getElementById('log-content').innerHTML += '<span class="log-failed">Scan stopped by user.</span><br>';

            // Resetting the scan process
            fetch('/stop_scan', {
                method: 'POST'
            })
            .then(() => {
                // ریست کردن تمام موارد مرتبط با اسکن
                document.querySelector('#results-table tbody').innerHTML = '';
                document.getElementById('log-content').innerHTML = '';
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
